<div [ngClass]="{'bg-Secondary-Dark': isScrolled}" class=" text-slate-300 fixed w-full z-20 transition-all ease-out duration-400">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between m-4">
    <a routerLink="/Inicio" class="flex hover:cursor-pointer">
        <span class="self-center text-2xl font-semibold whitespace-nowrap">José Carlos Dev</span>
    </a>
    <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">
        <button data-collapse-toggle="navbar-language" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:text-Primary-DarkSoft hover:bg-white focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-language" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-language">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg space-y-1 sm:space-y-0 sm:space-x-0 lg:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-gray-50 md:bg-transparent">
        <li>
          <a routerLink="/Home" routerLinkActive="text-white md:text-amber-500 bg-Primary-DarkSoft md:bg-transparent" class="block text-lg py-3 px-3 sm:py-3 sm:px-6 text-Secondary-DarkSoft sm:text-slate-300 rounded-md hover:bg-Primary-DarkSoft hover:text-white hover:bg-opacity-70 md:hover:bg-transparent md:hover:text-amber-500 hover:cursor-pointer">Home</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="text-white md:text-amber-500 bg-Primary-DarkSoft md:bg-transparent" class="block text-lg py-3 px-3 sm:py-3 sm:px-6 text-Secondary-DarkSoft sm:text-slate-300 rounded-md hover:bg-Primary-DarkSoft hover:text-white hover:bg-opacity-70 md:hover:bg-transparent md:hover:text-amber-500 hover:cursor-pointer">About</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="text-white md:text-amber-500 bg-Primary-DarkSoft md:bg-transparent" class="block text-lg py-3 px-3 sm:py-3 sm:px-6 text-Secondary-DarkSoft sm:text-slate-300 rounded-md hover:bg-Primary-DarkSoft hover:text-white hover:bg-opacity-70 md:hover:bg-transparent md:hover:text-amber-500 hover:cursor-pointer">Resume</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="text-white md:text-amber-500 bg-Primary-DarkSoft md:bg-transparent" class="block text-lg py-3 px-3 sm:py-3 sm:px-6 text-Secondary-DarkSoft sm:text-slate-300 rounded-md hover:bg-Primary-DarkSoft hover:text-white hover:bg-opacity-70 md:hover:bg-transparent md:hover:text-amber-500 hover:cursor-pointer">Portfolio</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="text-white md:text-amber-500 bg-Primary-DarkSoft md:bg-transparent" class="block text-lg py-3 px-3 sm:py-3 sm:px-6 text-Secondary-DarkSoft sm:text-slate-300 rounded-md hover:bg-Primary-DarkSoft hover:text-white hover:bg-opacity-70 md:hover:bg-transparent md:hover:text-amber-500 hover:cursor-pointer">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>