<div class="w-full h-full block">
    <app-subtitle></app-subtitle>
</div>

<section id="resume" class="w-full h-full px-8 sm:px-14 py-20 md:py-24 sm:py-32">
    <div class="text-Primary-DarkSoft font-semibold">
        <h2 class="text-3xl lg:text-4xl mb-4">{{sumary}}</h2>
        <div class="w-1/4 sm:w-1/12 border-4 border-Primary-DarkSoft mb-4"></div>
        <p class="text-base text-Information">{{resumeDescription}}</p>
    </div>
    

    <!--? Work Experiences -->

    <div class="mt-14 text-Primary-DarkSoft font-semibold">
        <h2 class="text-3xl lg:text-4xl mb-4">{{titleExperience}}</h2>
        <div class="w-1/4 sm:w-1/12 border-4 border-Primary-DarkSoft mb-2"></div>
    </div>
    
    <div class="mt-10 text-Primary-DarkSoft rounded-xl overflow-hidden border-2 border-Primary-DarkSoft shadow-Primary-DarkSoft shadow-md">
        <div class="grid grid-cols-1 sm:grid-cols-4">
            <div class="col-span-1 py-4 sm:mt-0 h-full w-full font-bold text-white text-base sm:text-xl content-center text-center bg-Primary-DarkSoft">
                January 2025 – Currently.
            </div>
            <div class="col-span-1 sm:col-span-3">
                <div class="block md:flex text-sm sm:text-xl p-5 justify-between m-auto">
                    <h4 class="font-bold">Freelancer</h4>
                    <div class="">Full stack software developer</div>
                </div>
                <div class="px-14 py-5">
                    <ul class="space-y-1 text-Information list-disc">
                        <li>
                            Design, development, testing and implementation of systems and web pages using different technologies: C#, PHP, Angular 18, TypeScript, JavaScript, Tailwind CSS V3, Flowbite.
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mt-10 text-Primary-DarkSoft rounded-xl overflow-hidden border-2 border-Primary-DarkSoft shadow-Primary-DarkSoft shadow-md">
        <div class="grid grid-cols-1 sm:grid-cols-4">
            <div class="col-span-1 py-4 sm:mt-0 h-full w-full font-bold text-white text-base sm:text-xl content-center text-center bg-Primary-DarkSoft">
                April 2023 – December 2024.
            </div>
            <div class="col-span-1 sm:col-span-3">
                <div class="block md:flex text-sm sm:text-xl p-5 justify-between m-auto">
                    <h4 class="font-bold">Fortia Technology S.A. de C.V.</h4>
                    <div class="">JavaScript Developer</div>
                </div>
                <div class="px-14 py-5">
                    <ul class="space-y-1 text-Information list-disc">
                        <li>
                            Developed responsive and interactive web applications using JavaScript, .NET, C#, Entity Framework, Dapper, MS-SQL and Azure DevOps.
                        </li>
                        <li>Integrated web applications with APIs and databases to enhance system functionality.</li>
                        <li>Collaborated with the QA team to troubleshoot and resolve issues, ensuring high performance and stability.</li>
                        <li>Implemented new features and UI enhancements using frameworks such as Bootstrap and Kendo UI.</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mt-10 text-Primary-DarkSoft rounded-xl overflow-hidden border-2 border-Primary-DarkSoft shadow-Primary-DarkSoft shadow-md">
        <div class="grid grid-cols-1 sm:grid-cols-4">
            <div class="col-span-1 py-4 sm:mt-0 h-full w-full font-bold text-white text-base sm:text-xl content-center text-center bg-Primary-DarkSoft">
                November 2021 – December 2022.
            </div>
            <div class="col-span-1 sm:col-span-3">
                <div class="block md:flex text-sm sm:text-xl p-5 justify-between m-auto">
                    <h4 class="font-bold">Soluciones Empresariales Pantiger y Asociados S.A. de C.V.</h4>
                    <div class="">Full Stack Developer</div>
                </div>
                <div class="px-14 py-5">
                    <ul class="space-y-1 text-Information list-disc">
                        <li>
                            Designed, developed, tested, deployed and implemented web applications using PHP, Laravel, SQL, JQuery and TailwindCSS.
                        </li>
                        <li>Improved UX/UI by integrating responsive design frameworks such as Bootstrap and TailwindCSS.</li>
                        <li>Provided technical support and documentation for web applications.</li>
                        <li>Optimized website performance and ensured cross-browser compatibility.</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mt-10 text-Primary-DarkSoft rounded-xl overflow-hidden border-2 border-Primary-DarkSoft shadow-Primary-DarkSoft shadow-md">
        <div class="grid grid-cols-1 sm:grid-cols-4">
            <div class="col-span-1 py-4 sm:mt-0 h-full w-full font-bold text-white text-base sm:text-xl content-center text-center bg-Primary-DarkSoft">
                August 2019 – January 2020.
            </div>
            <div class="col-span-1 sm:col-span-3">
                <div class="block md:flex text-sm sm:text-xl p-5 justify-between m-auto">
                    <h4 class="font-bold">PCSystems S.A. de C.V.</h4>
                    <div class="">Mobile app developer (Intern)</div>
                </div>
                <div class="px-14 py-5">
                    <ul class="space-y-1 text-Information list-disc">
                        <li>Developed an employee attendance control system using Java, XML, and SQLite.</li>
                        <li>Assisted in database management and system performance optimization.</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>

    <!--? Skills -->

    <div class="mt-14 mb-8 text-Primary-DarkSoft font-semibold">
        <h2 class="text-3xl lg:text-4xl mb-4">{{titleSkills}}</h2>
        <div class="w-1/4 sm:w-1/12 border-4 border-Primary-DarkSoft mb-2"></div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
        <div class="border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">Frontend</h3>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/js.png" alt="JavaScript icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">JavaScript</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/icon_angular_gradient_alt03.png" alt="Angular icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Angular</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/typescript.png" alt="TypeScript icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">TypeScript</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/jquery.webp" alt="JQuery icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">JQuery</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/html-5.png" alt="HTML-5 icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">HTML</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/css-3.png" alt="CSS icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">CSS</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/tailwind-css.png" alt="TailwindCSS icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">TailwindCSS</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/bootstrap.png" alt="Bootstrap icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Bootstrap</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/flowbite-logo.png" alt="Flowbite icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Flowbite</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/kendo.png" alt="Kendo UI icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Kendo UI</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/figma.png" alt="Figma icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Figma</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/devices.png" alt="Responsive Web Design icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Responsive Web</span>
                </li>
            </ul>
        </div>

        <div class="border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">Backend</h3>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/php.png" alt="PHP icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">PHP</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Laravel.png" alt="Laravel icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Laravel</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/java.png" alt="Java icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Java</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/netCore.png" alt=".NET Core icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">.NET Core</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/c-sharp.png" alt="C# icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">C#</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Dapper.png" alt="Dapper icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Dapper (Micro ORM for .NET)</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Entity Framework</span>
                </li>
            </ul>
        </div>

        <div class="border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">Database</h3>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/SQL.png" alt="SQL icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">SQL</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/MySQL.svg" alt="MySQL icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">MySQL</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/SQLite.png" alt="SQLite icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">SQLite</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Microsoft_SQL_Server.png" alt="Microsoft SQL Server icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Microsoft SQL Server</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <!-- <img src="assets/icons/skills/.png" alt="SQL Server Management Studio icon" class="w-7 h-auto"> -->
                    <span class="flex-1 ms-3">SQL Server Management Studio</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Transact-SQL</span>
                </li>
            </ul>
        </div>

        <div class="border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">DevOps and Tools</h3>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/git.png" alt="Git icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Git</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Azure devops.webp" alt="Azure DevOps icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Azure DevOps</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Visual-Studio.svg" alt="Visual Studio icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Visual Studio</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/IntelliJ_IDEA_Icon.png" alt="IntelliJ IDEA icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">IntelliJ IDEA Server</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Android Studio.png" alt="Android Studio icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Android Studio</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Laragon.svg" alt="Laragon icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Laragon</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Notion.png" alt="Notion icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Notion</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/Slack.png" alt="Slack icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">Slack</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <img src="assets/icons/skills/github.png" alt="GitHub icon" class="w-7 h-auto">
                    <span class="flex-1 ms-3">GitHub</span>
                </li>
            </ul>
        </div>

        <div class="border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">Development Methodologies</h3>
            <ul class="space-y-3">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Agile (Scrum)</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">MVC (Model-View-Controller)</span>
                </li>
            </ul>
        </div>

        <div class="border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">Testing / optimization</h3>
            <ul class="space-y-3">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Unit and functional testing</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Debugging and issue resolution</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Performance optimization</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">SEO basics</span>
                </li>
            </ul>
        </div>

        <div class="sm:col-span-2 lg:col-span-3 2xl:col-span-2 border-2 p-4 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary w-full">
            <h3 class="my-6 text-center text-3xl font-bold">Soft Skills</h3>
            <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Problem-solving</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Team collaboration</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Adaptability</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Communication</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Time management</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Analytical thinking</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Fast learner</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Attention to detail</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Initiative and autonomy</span>
                </li>
                <li class="flex items-center p-3 text-base font-bold rounded-lg hover:bg-gray-100 group hover:shadow">
                    <span class="flex-1 ms-3">Passion for delivering user-focused software solutions</span>
                </li>
            </ul>
        </div>
    </div>


    <!--? Education -->

    <div class="mt-14 mb-8 text-Primary-DarkSoft font-semibold">
        <h2 class="text-3xl lg:text-4xl mb-4">{{titleEducation}}</h2>
        <div class="w-1/4 sm:w-1/12 border-4 border-Primary-DarkSoft mb-2"></div>
    </div>

    <div class="text-Primary-DarkSoft rounded-xl overflow-hidden border-2 border-Primary-DarkSoft shadow-Primary-DarkSoft shadow-md">
        <div class="grid grid-cols-1 sm:grid-cols-4">
            <div class="col-span-1 py-4 sm:mt-0 h-full w-full font-bold text-white text-base sm:text-xl content-center text-center bg-Primary-DarkSoft">
                Graduated in January 2020.
            </div>
            <div class="col-span-1 sm:col-span-3">
                <div class="block md:flex text-sm sm:text-lg p-5 justify-between m-auto">
                    <h4 class="font-bold">Instituto Tecnológico Superior de Jesús Carranza</h4>
                    <div>Jesús Carranza, Veracruz, México.</div>
                </div>
                <h5 class="p-5 text-Information">Bachelor’s Degree in Computer Systems Engineering.</h5>
            </div>
        </div>
    </div>
    
    <!--? COURSES AND CERTIFICATIONS -->
    
    <div class="mt-14 mb-8 text-Primary-DarkSoft font-semibold">
        <h2 class="text-3xl lg:text-4xl mb-4">{{titleCertifications}}</h2>
        <div class="w-1/4 sm:w-1/12 border-4 border-Primary-DarkSoft mb-2"></div>
    </div>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
        <div class="p-4 border2 border-gray-200 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary sm:p-6 w-full">
            <a href="https://www.freecodecamp.org/certification/JoseCarlosJv_Dev/responsive-web-design" target="_blank" rel="noopener noreferrer" class="flex text-base font-semibold text-gray-900 md:text-xl items-center">
                <img src="assets/icons/Institutions/freecodecamp-icon.png" alt="Free Code Camp icon" class="h-12 mr-4"> freeCodeCamp
            </a>
            <p class="mt-2 text-sm font-normal text-gray-500 dark:text-gray-400">Certified on July 22, 2024.</p>
            
            <!-- Modal toggle -->
            <button data-modal-target="modal-FreeCodeCamp" data-modal-toggle="modal-FreeCodeCamp" class="mt-8 flex justify-center items-center p-3 text-base font-bold rounded-lg bg-Secondary-Dark text-white hover:bg-secondary hover:text-white w-full" type="button">
                Responsive web Design.
            </button>
        
            <!-- Main modal -->
            <div id="modal-FreeCodeCamp" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                COURSES AND CERTIFICATIONS
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-FreeCodeCamp">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <img src="assets/img/Certificades/Certificado - Responsive web Design.png" alt="" class="h-full w-full">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4 border2 border-gray-200 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary sm:p-6 w-full">
            <a href="https://codigofacilito.com/certificates/6b9db2f1-aa45-4759-b2a9-336bd6b2ff50" target="_blank" rel="noopener noreferrer" class="flex text-base font-semibold text-gray-900 md:text-xl items-center">
                <img src="assets/icons/Institutions/Codigo Facilito.png" alt="Código Facilito icon" class="h-12 mr-4"> Código Facilito
            </a>
            <p class="mt-2 text-sm font-normal text-gray-500 dark:text-gray-400">Certified on November 24, 2023.</p>
            
            <!-- Modal toggle -->
            <button data-modal-target="modal-CodigFacilito" data-modal-toggle="modal-CodigFacilito" class="mt-8 flex justify-center items-center p-3 text-base font-bold rounded-lg bg-Secondary-Dark text-white hover:bg-secondary hover:text-white w-full" type="button">
                Curso profesional de JavaScript.
            </button>
        
            <!-- Main modal -->
            <div id="modal-CodigFacilito" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                COURSES AND CERTIFICATIONS
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-CodigFacilito">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <img src="assets/img/Certificades/Certificado - Curso profesional de JavaScript.png" alt="" class="h-full w-full">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4 border2 border-gray-200 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary sm:p-6 w-full">
            <a href="http://ude.my/UC-da979fa4-48af-446f-9eed-eb83abc65aef" target="_blank" rel="noopener noreferrer" class="flex text-base font-semibold text-gray-900 md:text-xl items-center">
                <img src="assets/icons/Institutions/udemy.svg" alt="Udemy icon" class="h-12 mr-4"> Udemy courses - Numpi Cursos
            </a>
            <p class="mt-2 text-sm font-normal text-gray-500 dark:text-gray-400">Certified on October 15, 2021.</p>
            
            <!-- Modal toggle -->
            <button data-modal-target="modal-Numpi" data-modal-toggle="modal-Numpi" class="mt-8 flex justify-center items-center p-3 text-base font-bold rounded-lg bg-Secondary-Dark text-white hover:bg-secondary hover:text-white w-full" type="button">
                SQL Básico - Intermedio.
            </button>
        
            <!-- Main modal -->
            <div id="modal-Numpi" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                COURSES AND CERTIFICATIONS
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-Numpi">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <img src="assets/img/Certificades/SQL Básico - Intermedio ¡Añade valor a tu CV en 2 horas!.jpg" alt="" class="h-full w-full">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4 border2 border-gray-200 rounded-lg shadow-sm hover:shadow-lg shadow-Secondary-Dark hover:shadow-Secondary-Dark transition-all ease-in-out duration-300 hover:bg-white text-Information hover:text-primary sm:p-6 w-full">
            <a href="http://ude.my/UC-03994d91-0afd-495c-a89a-2756c4cc705e" target="_blank" rel="noopener noreferrer" class="flex text-base font-semibold text-gray-900 md:text-xl items-center">
                <img src="assets/icons/Institutions/udemy.svg" alt="Udemy icon" class="h-12 mr-4"> Udemy courses - Global Mentoring
            </a>
            <p class="mt-2 text-sm font-normal text-gray-500 dark:text-gray-400">Certified on October 22, 2021.</p>
            
            <!-- Modal toggle -->
            <button data-modal-target="modal-GlobalMentoring" data-modal-toggle="modal-GlobalMentoring" class="mt-8 flex justify-center items-center p-3 text-base font-bold rounded-lg bg-Secondary-Dark text-white hover:bg-secondary hover:text-white w-full" type="button">
                Universidad HTML 2021: Aprende HTML desde Cero hasta Experto.
            </button>
        
            <!-- Main modal -->
            <div id="modal-GlobalMentoring" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                COURSES AND CERTIFICATIONS
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-GlobalMentoring">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <img src="assets/img/Certificades/Universidad HTML 2021-Aprende HTML desde Cero hasta Experto.jpg" alt="" class="h-full w-full">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>